// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$headerHeight: 5vh;

$rye: 'Rye', cursive;
$roboto: 'Roboto', Helvetica, sans-serif;

// Colors
$brand-primary:         #27ae60;

$offWhite: #CCDBD5;
$offGrey: #595F5E;
$grey: #9B9F9F;
$darkBlue: #111518;